@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600;700&display=swap');

::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 0.6vh;
}

::-webkit-scrollbar {
  background: transparent;
  height: 1vh;
  position: absolute;
  width: 1vh;
  background-color: #000000;
}

* {
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  font-style: normal;
  font-family: 'Montserrat';
  margin: 0;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.05vh;
  resize: none;
  outline: none;
  border: 0;
  user-select: none;
  color: white;
  scroll-behavior: smooth;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
main h1{
  color: #000000;
  font-size: 4vh;
}
main a{
  color: #f0145c;
}

.btn{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 178px;
  height: 40px;
  color: #ffffff;
  background-color: #f0145c;
  border: 1px solid #f0145c;
  transition: 0.2s;
  font-size: 2vh;
}
.btn:hover{
  background-color: transparent;
  color: #f0145c;
  transition: 0.2s;
}
